.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo
*~
*.orig
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace

.env
.env.*
!.env.example

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
out/
rasa-env/